@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    direction: rtl;
    text-align: right;
    font-family: 'Cairo', sans-serif;
    @apply bg-slate-50 text-slate-900 transition-colors duration-200;
  }

  .dark body {
    @apply bg-slate-950 text-slate-100;
  }
}
